- if @tournament.errors.any?
  .row
    .col-md-12
      #error_explanation
        %h2
          = "#{pluralize(@tournament.errors.count, "error")} prohibited this tournament from being saved:"
        %ul
          - @tournament.errors.full_messages.each do |message|
            %li= message

.row
  .col-md-6
    = simple_form_for [:admin, @tournament] do |f|
      = f.input :name, label: 'Name', error: 'Name is mandatory, please specify one.'
      = f.association :club, label: 'Host club'
      = f.input :host_city, label: 'Host city'
      = f.input :address, label: 'Address'
      = f.input :start, label: 'Start date'
      = f.input :end, label: 'End date'
      = f.association :teams, as: :check_boxes
      = f.button :submit
