%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      .strong
        %a.navbar-brand{href:"#", style: "font-size:25px;"} NACIVT

    - if current_user
      %ul.nav.navbar-nav
        %li
          = link_to "Home", root_path
        %li
          = link_to "Clubs", clubs_path
        %li
          = link_to "Tournaments", tournaments_path
      %ul.nav.navbar-nav.navbar-right
        %li.dropdown
          %a.dropdown-toggle{href: "#", role: "button", data: {toggle: "dropdown"}}
            = current_user.name
            %span.caret
          %ul.dropdown-menu
            %li= link_to "Manage Profile", user_path(current_user)
            %li
            %li.divider{role: "separator"}
            %li= link_to "Logout", logout_path, method: :delete